@media screen and (max-width: 1300px) {
	.container{
		max-width: 960px;
	}
}
@media screen and (max-width: 990px) {
	.container{
		max-width: 750px;
	}
	.get_free_valudes{
		flex-wrap: wrap;
	}
	.get_free{
		flex-wrap: wrap;
	}
	.ques_cards{
		flex-wrap: wrap;
	}
	.ques_left{
		margin-bottom: 10%;
	}
}
@media screen and (max-width: 780px) {
	.container{
		max-width: 510px;
	}
}
@media screen and (max-width: 540px) {
	.container{
		max-width: 420px;
	}
}
@media screen and (max-width: 450px) {
	.container{
		max-width: 100%;
	}
}