html,
body {
	height: 100%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix::after {
	clear: both;
	content: "";
	display: table;
}

a {
	color: inherit;
	text-decoration: none;
}

li {
	list-style: none;
}

ul li:last-child {
	margin-bottom: 0;
}

img {
	display: block;
	/* width: 100%; */
	height: auto;
}

button,
label {
	cursor: pointer;
}

input,
button,
textarea {
	background: none;
	border: none;
	outline: none;
	display: block;
	width: 100%;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
}

input[type="radio"],
input[type="checkbox"] {
	display: none;
}

input::placeholder {
	color: inherit;
}

button {
	cursor: pointer;
}

input,
textarea {
	display: block;
	resize: none;
}

/* body {
	font-size: 14px;
	line-height: 19px;
	color: #242424;
	width: 100%;
	font-family: 'Lato';
}

.container {
	max-width: 1325px;
	width: 100%;
	min-width: 320px;
	margin: 0 auto;
	padding: 0 15px;
} */

.dn {
	display: none;
}

section {
	padding: 100px 0;
}

.logo {
	margin-top: 7px;
}

.sec_tit {
	font-weight: 800;
	font-size: 42px;
	line-height: 57px;
	text-align: center;
	margin: 0 auto;
}

.color {
	color: #BE963F;
}

.dib {
	display: inline-block;
}

.hover {
	transition: 0.3s;
}

.hover:hover {
	color: #BE963F;
}

.btn {
	background: linear-gradient(93.7deg, #F3C87A -1.69%, #F3EECA 37.58%, #B39556 77.08%, #EED489 109.84%);
	box-shadow: 0px 4px 0px #836A36;
	border-radius: 10px;
	font-weight: 800;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	text-transform: uppercase;
	color: #34280E;
	height: 85px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 14px 0;
	transition: 0.3s;
}

.btn:hover {
	box-shadow: 0px 6px 5px 2px #836A36;
}

.link {
	transition: 0.3s;
}

.link:hover {
	box-shadow: 0px 6px 5px 2px #836A36;
}

.flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.footer_column {
	text-align: start;
}


/* валидация */
#form {
	background-color: whitesmoke;
	border-radius: 4px;
	font-size: 12px;
	background: #1E212C;
	width: 59%;
}
.get_free_right{
	margin-left: 29%;
}
#form h1 {
	color: #0f2027;
	text-align: center;
}

#form button {
	padding: 10px;
	margin-top: 10px;
	width: 27%;
	color: white;
	background-color:
		#7772F1;
	border: none;
	border-radius: 4px;
}

.input-control {
	display: flex;
	flex-direction: column;
}

.input-control input {
	background: #4d4b4b;
    border: 2px solid #8d8d8d;
    border-radius: 4px;
    display: block;
    font-size: 12px;
    padding: 12px;
	width: 55.5%;
}

.input-control input:focus {
	outline: 0;
}

.input-control.success input {
	border-color: #09c372;
}

.input-control.error input {
	border-color: #ff3860;
}

.input-control .error {
	color: #ff3860;
	font-size: 9px;
	height: 13px;
}

.get_free_tit {
	font-family: 'Manrope', arial, sans-serif;	font-size: 46px;
	font-weight: 900;
	line-height: 60px;
	letter-spacing: 0em;
	text-align: left;
	color: white;
	margin-bottom: 40px;
}

.valude_tit {
	color: white;
	margin-bottom: 3%;
}

/* #email,
#username {
	width: 130%;
} */

.get_free_valudes {
	gap: 38%;
	justify-content: normal;
}

.get_free_valude_cards_txt {
	color: white;
	width: 287px;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	letter-spacing: 0em;
	text-align: left;

}

.get_free_valude_cards {
	justify-content: space-between;
}

.get_free_btn {
	width: 10%;
}

.all_get_free {
	background: #1E212C;
}

.get_free {
	justify-content: space-around;
	margin-left: 23%;
}


/* валидация */
#form {
	background-color: whitesmoke;
	border-radius: 4px;
	font-size: 12px;
	background: #1E212C;
}

#form h1 {
	color: #0f2027;
	text-align: center;
}

#form button {
	padding: 10px;
	margin-top: 10px;
	width: 27%;
	color: white;
	background-color:
		#7772F1;
	border: none;
	border-radius: 4px;
	/* font-size: 16px; */
}

.input-control {
	display: flex;
	flex-direction: column;
}

.input-control input {
	background: #4d4b4b;
	border: 2px solid #8d8d8d;
	border-radius: 4px;
	display: block;
	font-size: 12px;
	padding: 12px;
}

.input-control input:focus {
	outline: 0;
}

.input-control.success input {
	border-color: #09c372;
}

.input-control.error input {
	border-color: #ff3860;
}

.input-control .error {
	color: #ff3860;
	font-size: 9px;
	height: 13px;
}

.get_free_tit {
	font-family: 'Manrope', arial, sans-serif;	font-size: 46px;
	font-weight: 900;
	line-height: 60px;
	letter-spacing: 0em;
	text-align: left;
	color: white;
	margin-bottom: 40px;
}

.valude_tit {
	color: white;
	margin-bottom: 3%;
}

#email,
#username {
	width: 130%;
}

.get_free_valudes {
	gap: 16%;
}

.get_free_valude_cards_txt {
	color: white;
	width: 287px;
	font-family: Lato;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	letter-spacing: 0em;
	text-align: left;

}

.get_free_valude_cards {
	justify-content: space-between;
}

.get_free_btn {
	width: 10%;
}

.all_get_free {
	background: #1E212C;
}

.get_free {
	justify-content: space-around;
	flex-wrap: nowrap;
}

/* accardion */
.container .box {
	position: relative;
}

.container .box:last-child {
	margin-bottom: 0;
	/* Для последнего элемента нижний отступ убираем */
}

.container .box .label {
	position: relative;
	padding: 20px;
	/* Внутренний отступ для видимой части */
	color: #000000;
	/* Цвет шрифта элемента аккордеона */
	cursor: pointer;
	/* Меняем курсор при наведении */
}

.container .box .label::before {
	content: "+";
	/* Задаем иконку "+" для элемента аккордеона */
	position: absolute;
	top: 50%;
	/* Выравнивание по центру */
	transform: translateY(-50%);
	left: -1%;
	font-size: 25px;
	font-weight: bold;
}

.container .box.active .label::before {
	content: "-";
	/* Меняем иконку на "-" при нажатии на элемент */
}

.container .box .content {
	position: relative;
	background-color: #fff;
	/* Цвет фона контента */
	overflow: hidden;
	max-height: 0;
	/* Скрываем контент */
	transition: 0.3s;
	/* Для плавности анимации */
}

.container .box .content p {
	color: #787A80;
	width: 556px;
}

.ques_left {
	align-self: center;
}

.ques_cards {
	gap: 4%;
	justify-content: center;
}

.flexible_card {
	padding: 50px 30px;
	box-sizing: border-box;
	border: 1px solid rgba(119, 114, 241, 0.4);
	border-radius: 4px;

	/* shadow/small */
	box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 80px 80px -20px rgba(154, 156, 165, 0.08);
	/* white */
	background: rgb(255, 255, 255);
	width: 390px;
}

.flexible_card_tit {

	font-size: 28px;
	padding-bottom: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.flexible_card__cost {
	margin-top: 10px;
	justify-content: center;
	padding: 0 30px 0 30px;
}

.card_cost {
	/* h1 */
	color: rgb(119, 114, 241);
	font-family: Lato;
	font-size: 46px;
	font-weight: 900;
	line-height: 130%;
	letter-spacing: 0%;
	text-align: center;
}

.card_cost_month {
	/* lead/bold */
	color: rgb(119, 114, 241);
	font-family: Lato;
	font-size: 20px;
	font-weight: 700;
	line-height: 150%;
	letter-spacing: 0%;
	text-align: left;
}

/* .card_list-wrap{
	display: flex;
} */
*/ .flexible_card-ic {
	display: block;
	background: url(/createX/img/icons/line-click.svg)no-repeat;
	width: 16px;
	height: 16px;
	margin-top: 8px;
}

.card-list {
	padding-bottom: 8px;
	align-items: center;
	justify-content: center;
	gap: 9px;
}

.flexible_card-txt {
	font-size: 16px;
	justify-content: start;
}

.line {
	border-bottom: 0.5px solid rgba(218, 219, 221, 0.5);
	margin: 15px 0 25px 0;
	width: 390px;
}

.empty-btn {
	box-sizing: border-box;
	/* primary */
	border: 1px solid rgb(119, 114, 241);
	border-radius: 4px;

	background: none;
	padding: 15px 32px;
	width: 150px;
	margin: 0 auto;
	transition: 0.7s;
}

.card_list-wrap {
	margin-bottom: 32px;
}

.empty-btn:hover {
	background: rgb(119, 114, 241);
}

.flexible_tit {
	margin-bottom: 60px;
}





/* footer */
footer {
	color: rgb(165, 166, 171);
}

.footer__top {
	padding-top: 80px;
	background: rgb(30, 33, 44);
}

.footer__top-cols {
	justify-content: center;
	padding-bottom: 60px;
	border-bottom: 1px solid #414536;
}

.footer__top-col {
	padding-right: 80px;
}

.footer__logo {
	display: block;
	background: url(/createX/img/icons/logo.svg)no-repeat;
	width: 130px;
	height: 22px;

}

.footer__top-txt {
	max-width: 280px;
	padding: 25px 0 38px 0;
	text-align: start;
	color: rgb(165, 166, 171);
	font-size: 12px;
}

.footer-social-links {
	justify-content: flex-start;
	gap: 20px;
}

.footer-social__link {
	display: block;
	width: 24px;
	height: 24px;
	border-radius: 8px;
	background: 50%/60% no-repeat;
	align-items: center;
	background-size: 100%;
}

.footer-social__link:nth-child(1) {
	background-image: url(/createX/img/icons/facebook_item.svg);
	background-size: 50%;
}

.footer-social__link:nth-child(2) {
	background-image: url(/createX/img/icons/Linked-In_item.svg);
}

.footer-social__link:nth-child(3) {
	background-image: url(/createX/img/icons/Twitter_item.svg);
}

.footer-social__link:nth-child(4) {
	background-image: url(/createX/img/icons/Instagram_item.svg);

	/* background-size: 90%; */
}

/* footer_clomns */
.footer__title {
	color: rgb(255, 255, 255);
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 1px;
	padding-bottom: 12px;
}

.footer-nav__item {
	padding-bottom: 15px;
}

.footer-nav-wrap {
	justify-content: center;
	gap: 80px;
	font-size: 16px;
}

.footer-nav__link {
	justify-content: start;
	gap: 8px;
	padding-bottom: 8px;
}

.footer-nav__ic {
	display: block;
	width: 16px;
	height: 16px;
	border-radius: 8px;
	background: 50%/60% no-repeat;
	align-items: center;
	background-size: 100%;
}

.footer-nav__ic-1 {
	background: url(/createX/img/icons/footer-nav__ic-1.svg);
}

.footer-nav__ic-2 {
	background: url(/createX/img/icons/footer-nav__ic-2.svg);
}

.footer-form__title {
	padding-bottom: 24px;
}

.footer__form-input {
	border-radius: 4px;
	position: relative;
	width: 100%;
}

.footer__form-input::placeholder {
	color: rgb(165, 166, 171);
	font-size: 12px;
	padding-right: 176px;
}

.footer-form {
	background: rgb(41, 44, 55);
	position: relative;
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: 4px;
	padding: 9px 12px;
	max-width: 286px;

}

.footer_form-txt {
	padding-top: 12px;
	font-size: 10px;
	max-width: 286px;
	color: rgb(255, 255, 255);
}

/* .footer__form-input {
	display: block;
	width: 100%;
	height: 3em;
	line-height: 3em;
	border-radius: 1.5em;
	border: 1px solid;
	padding: 0 1.5em;
} */

.footer__form-btn {
	top: 12px;
	right: 14px;
	position: absolute;
	display: block;
	width: 16px;
	height: 16px;
	background: 50%/60% no-repeat;
	background-size: 100%;
	background: url(/createX/img/icons/arrow-right.svg);
	padding-right: 14px;
}

.footer_patners-tems {
	justify-content: flex-start;
	gap: 20px;
}

.partner-item {
	display: block;
	width: 120px;
	height: 40px;
	background: 50%/60% no-repeat;
	align-items: center;
	background-size: 100%;
}

.footer_partners {
	padding-top: 37px;
	padding-left: 30px;
	padding: 37px;
}

.partner-item-1 {
	background-image: url(/createX/img/icons/footer_partner-1.jpg);

}

.partner-item-2 {
	background-image: url(/createX/img/icons/footer_partner-2.jpg);

}

.partner-item-3 {
	background-image: url(/createX/img/icons/footer_partner-3.jpg);

}

.partner-item-4 {
	background-image: url(/createX/img/icons/footer_partner-4.jpg);

}

.footer__bottom {
	background: rgb(41, 44, 55);
	padding: 16px 0;
	color: rgb(255, 255, 255);
	font-size: 12px;
	padding-left: 35px;

}

.footer__bottom-ic {

	display: block;
	width: 16px;
	height: 16px;
	background: 50%/60% no-repeat;
	align-items: center;
	background-size: 100%;
}

.footer__bottom_txt {
	gap: 4px;
	justify-content: flex-start;
}

/* .footer__bottom_txt */
.footer__bottom-ic {
	background-image: url(/createX/img/icons/footer__bottom_heart.svg);

}

.btn-up {
	position: fixed;
	background: rgb(119, 114, 241);
	/* расстояние от правого края окна браузера */
	right: 60px;
	/* расстояние от нижнего края окна браузера */
	bottom: 90px;
	/* скругление верхнего левого угла */
	border-radius: 4px;
	/* вид курсора */
	cursor: pointer;
	/* отображение элемента как flex */
	display: flex;
	/* выравниваем элементы внутри элемента по центру вдоль поперечной оси */
	align-items: center;
	/* выравниваем элементы внутри элемента по центру вдоль главной оси */
	justify-content: center;
	/* ширина элемента */
	width: 40px;
	/* высота элемента */
	height: 40px;
}

.btn-up::before {
	content: "";
	width: 19px;
	height: 19px;
	background: transparent no-repeat center center;
	background-size: 100% 100%;
	background-image: url(/createX/img/icons/button_line-up.svg);
}

/* .btn-up_hide {
	display: none;
  }
   */
@media (hover: hover) and (pointer: fine) {
	.btn-up:hover {
		background-color: #512da8;
		/* цвет заднего фона при наведении */
	}
}


.slider {
	display: flex;
	transition: transform 0.5s ease-in-out;
	flex-wrap: nowrap;

}

.slide {
	padding-right: 20px;
}

.slide img {
	/* width: 400px; */
	/* border-radius: 20px;
	padding-right: 20px; */
	flex: 0 0 300px;
}

.ser_img {
	align-items: center;
}
.read_card_tit{
font-family: Lato;
font-size: 14px;
font-weight: 400;
line-height: 21px;
letter-spacing: 0em;
text-align: left;
border-bottom: 1px solid #a5a5a5;
color: #1E212C;
margin-bottom: 30px;	
padding-bottom: 30px;
}
.read_card_txt{
font-family: Lato;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0em;
text-align: left;
width: 310px;
margin-bottom: 71px;
color: #787A80;
}
.read_tit{
font-family: Lato;
font-size: 46px;
font-weight: 900;
line-height: 60px;
letter-spacing: 0em;
text-align: left;
margin-bottom: 60px;
}
.read_img img{
	width: 26%;
	margin-bottom: 1%;
}
.read_cards{
	gap: 7%;
	justify-content: space-around;
	flex-wrap: nowrap;
}
.read_card{
	background: white;
	padding: 3%;
}
.read{
	background: #F4F5F6;
}
/* amal */

.fon {
	height: 1042px;
	background-image: url(../img/fon.jpeg);
	background-position: 60% 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	align-items: center;
	padding-bottom: 120px;
	display: flex;
}

.header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 75px;
	background: linear-gradient(224.64deg, rgba(255, 255, 255, 0) 13.642%, rgb(255, 255, 255) 51.5%, rgba(255, 255, 255, 0) 93.165%);
	opacity: 1;
	z-index: 100;
}

.header__wrap {
	display: flex;
	margin-top: 20px;
}

.naver {
	width: 391px;
	height: 26px;
	display: flex;
	align-items: center;
	margin: 0px -139px;
	transition: 0.4s;
}

.many {
	margin-left: 219px;
	margin-right: -230px;
	margin-top: 6.5px;
	margin-bottom: -5px;
	display: flex;
	flex-direction: row;
	/* gap: 258px; */
	flex-wrap: nowrap;
}

.btn {
	min-width: 223px;
	height: 58px;
	left: 477px;
	margin-top: 10px;
	padding: 0px 40px 0px 40px;
	border-radius: 4px;
	background: rgb(119, 114, 241);
	color: #fff;
	margin: -12px 435px 114px 449px;
	cursor: pointer;
	font-size: 16px;
	text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.3);
	transition: 0.5s;
	cursor: pointer;
	margin-left: 434px;
}

.btn:hover {
	box-shadow: 0 0 10px 2px #fff, 0 0 0 5px #3f8a7c;
	transform: scale(1.05);
}

.title__heading-text {
	width: 810px;
	height: 188px;
	margin-left: -856px;
	margin-right: 765px;
	margin-top: 272px;
	margin-bottom: -287px;
	font-size: 72px;
	line-height: 130%;
	color: aliceblue;
}

.title {
	margin-left: 392px;
	margin-top: -149px;
	width: 100px;
	/* height: 75px; */
	clear: both;
}

.btn_two {
	width: 220px;
	height: 52px;
	background: radial-gradient(174.94% 96.38% at 10% 14.000000000000002%, rgb(30, 33, 44), rgb(35, 36, 65) 56.381%, rgb(30, 33, 44) 100%);
	border-radius: 4px;
	margin-top: 341px;
	margin-left: -852px;
	color: #fff;
	transition: all 0.3s;
	cursor: pointer;
	background-color: #71b2ae;
	font-size: 18px;
	text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.3);
	transition: 0.5s;
	z-index: 0;
	position: relative;
	outline: none;
}

.btn_two:before {
	content: '';
	background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
	position: absolute;
	top: -2px;
	left: -2px;
	background-size: 400%;
	z-index: -1;
	filter: blur(5px);
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	animation: glowing 20s linear infinite;
	opacity: 0;
	transition: opacity .3s ease-in-out;
	border-radius: 4px;
}

.btn_two:active {
	color: #000
}

.btn_two:active:after {
	background: transparent;
}

.btn_two:hover:before {
	opacity: 1;
}

.btn_two:after {
	z-index: -1;
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: radial-gradient(174.94% 96.38% at 10% 14.000000000000002%, rgb(30, 33, 44), rgb(35, 36, 65) 56.381%, rgb(30, 33, 44) 100%);
	left: 0;
	top: 0;
	border-radius: 4px;
}

@keyframes btn_two {
	0% {
		background-position: 0 0;
	}

	50% {
		background-position: 400% 0;
	}

	100% {
		background-position: 0 0;
	}
}

.btn_two:hover {
	background-color: #3f8a7c;
	box-shadow: 0 0 10px 2px #fff, 0 0 0 5px #3f8a7c;
	transform: scale(1.05);
}

.play_btn {
	width: 52px;
	height: -88px;
	margin-left: -576px;
	right: 0%;
	margin-top: -53px;
	bottom: 0%;
	box-shadow: 0 0 0 rgb(119, 114, 241);
	animation: play_btn 2s infinite;
	cursor: pointer;
	border-radius: 100%;
	display: block;
	transition: 0.5s;
}

.play_btn:hover {
	box-shadow: 0 0 100px 80px rgb(136, 136, 201);
	animation: none;
	transform: scale(1.3);
}

/*pulsation*/
@keyframes play_btn {
	20% {
		-moz-box-shadow: 0 0 0 0 rgba(119, 114, 241);
		box-shadow: 0 0 0 0 rgba(119, 114, 241);
	}

	90% {
		-moz-box-shadow: 0 0 0 100px rgba(204, 169, 44, 0);
		box-shadow: 0 0 0 20px rgba(204, 169, 44, 0);
	}

	100% {
		-moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
		box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
	}
}

.play_text {
	width: 74px;
	margin-left: -498px;
	right: -589px;
	margin-top: -29px;
	display: flex;
	color: rgb(255, 255, 255);
	font-size: 16px;
	letter-spacing: 0%;
}

.features {
	margin: 150px 545px -843px;
	color: #fff;
	display: flex;
}

.icon_box {
	width: 47px;
	height: 40px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding: 0px;
	flex: none;
	order: 0;
	flex-grow: 0;
	margin: 4px 305px 68px 136px;
	transition: 0.5s;
}

.icon_box:hover {
	transform: scale(1.2);
}

.sec_fet {
	width: 237px;
	height: 42px;
	margin: 14px -299px;
}

.in-chart {
	height: -109px;
	display: flex;
	flex: none;
	order: 0;
	flex-grow: 0;
	margin: 210px -446px;
}

.divider {
	background: url(../img/svg/);
	position: static;
	width: 40px;
	height: 0;
	flex: none;
	order: 1;
	flex-grow: 0;
	margin: 0px 94px;
	transform: rotate(90.00deg);
	opacity: 0.4;
}

.divider::before {
	height: 200px;
	/* border-left: 8px solid rgba(119, 114, 241); */
	content: "";
	background: rgba(119, 114, 241);
	width: 46px;
	height: 2px;
	top: -269px;
	position: absolute;
	/* margin-top: -2px; */
	/* margin-bottom: -93px; */
	margin-left: 21px;
}

.img_person {
	position: relative;
	width: 590px;
	height: 526px;
	margin-top: -887px;
	margin-left: -80px;
	border-radius: 100px;
	transition: 1s;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transform: scale(1.1);
}

.img_person:hover {
	-webkit-transform: rotate(10deg);
	-moz-transform: rotate(10deg);
	-ms-transform: rotate(10deg);
	-o-transform: rotate(10deg);
	transform: rotate(10deg);
	-webkit-box-shadow: 0 0 40px rgba(119, 114, 241), inset 0 0 40px rgba(119, 114, 241);
	-moz-box-shadow: 0 0 40px rgba(119, 114, 241), inset 0 0 40px rgba(119, 114, 241);
	box-shadow: 0 0 40px rgba(119, 114, 241), inset 0 0 40px rgba(255, 255, 255, 1);
}

/* select */
.__select {
	transition: 0.5s;
	position: relative;
	width: 111px;
	height: 40px;
	margin: 0 auto;
	margin-left: 52px
}

.__select[data-state=active] .__select__title::before {
	transform: translate(-3px, -50%) rotate(-45deg);
}

.__select[data-state=active] .__select__title::after {
	transform: translate(3px, -50%) rotate(45deg);
}

.__select[data-state=active] .__select__content {
	opacity: 1;
}

.__select[data-state=active] .__select__label+.__select__input+.__select__label {
	max-height: 40px;
	border-top-width: 1px;
}

.__select__title {
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: 8px 16px;
	border-radius: 5px;
	border: solid 1px #c7ccd1;
	cursor: pointer;
	transition: 0.5s;
}

.__select__title::before,
.__select__title::after {
	content: "";
	position: absolute;
	top: 50%;
	right: 16px;
	display: block;
	width: 10px;
	height: 2px;
	transition: all 0.3s ease-out;
	background-color: #333333;
	transform: translate(-3px, -50%) rotate(45deg);
}

.__select__title::after {
	transform: translate(3px, -50%) rotate(-45deg);
}

.__select__title:hover {
	border-color: #000000;
	color: #ffffff;
}

.__select__title:hover::before,
.__select__title:hover::after {
	background-color: rgb(255, 255, 255);
}

.reset {
	display: flex;
	width: 230px;
	padding: 8px 16px;
	margin: 0 auto;
	margin-bottom: 10px;
	border: solid 1px #c7ccd1;
	border-radius: 5px;
	transition: all 0.2s ease-out;
	cursor: pointer;
	font-weight: bold;
	background-color: #ffffff;
	color: #333333;
}

.reset:hover {
	background-color: #D8093A;
	color: #ffffff;
}

.__select__content {
	position: absolute;
	top: 40px;
	left: 3px;
	display: flex;
	flex-direction: column;
	width: calc(100% - 6px);
	background-color: #fff;
	border: 1px solid #c7ccd1;
	border-top: none;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	transition: all 0.3s ease-out;
	opacity: 0;
	z-index: 8;
}

.__select__input {
	display: none;
}

.__select__input:checked+label {
	background-color: #dedede;
}

.__select__input:disabled+label {
	opacity: 0.6;
	pointer-events: none;
}

.__select__label {
	display: flex;
	align-items: center;
	width: 100%;
	height: 40px;
	max-height: 0;
	padding: 0 16px;
	transition: all 0.2s ease-out;
	cursor: pointer;
	overflow: hidden;
}

.__select__label+input+.__select__label {
	border-top: 0 solid #C7CCD160;
}

.__select__label:hover {
	background-color: #333a58 !important;
	color: #ffffff;
}

.colortext {
	color: rgb(119, 114, 241);
	max-width: 1317px;
	height: 188px;
	margin-left: -1px;
	margin-right: 14px;
	margin-top: 294px;
	margin-bottom: -408px;
	font-size: 72px;
	line-height: 130%;
}

/* section about */
.about_title {
	width: 438px;
	height: 100px;
	left: 345px;
	right: -334px;
	top: 1340px;
	bottom: -1000px;
	color: rgb(30, 33, 44);
	font-family: 'Manrope', arial, sans-serif;
	font-size: 46px;
	font-weight: 900;
	line-height: 130%;
	letter-spacing: 0%;
	text-align: left;
}

.about_tit {
	width: 390px;
	height: 208px;
	left: 345px;
	right: -345px;
	top: 1440px;
	bottom: -1248px;
	color: rgb(120, 122, 128);
	font-family: 'Manrope', arial, sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 160%;
	letter-spacing: 0%;
	text-align: left;
}

.btn_about {
	width: 168px;
	height: 44px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0px 32px 0px 32px;
	border-radius: 4px;
	background: rgb(119, 114, 241);
	color: #fff;
	text-align: center;
	cursor: pointer;
}

.cards {
	display: flex;
}

.card {
	margin-left: 4px;
	margin-right: 157.4px;
	margin-top: 74px;
	font-family: 'Manrope', arial, sans-serif;

}

.about_tit {
	width: 371px;
	height: 260px;
	left: 345px;
	right: -345px;
	top: 1440px;
	bottom: -1248px;
	color: rgb(120, 122, 128);
	font-family: 'Manrope', arial, sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 160%;
	letter-spacing: 0%;
	text-align: left;
}

.cards {
	margin-top: 178px;
}

tabs .percent .number,
.tab {
	display: flex;
	justify-content: center;
	align-items: center;
}

.retg {
	position: relative;
	width: 1059px;
	display: flex;
	justify-content: space-around;
	margin-left: 106px;
	margin-top: 103px;
}

.retg .tab {
	background: linear-gradient(45deg, #333333, #5A5454);
	position: relative;
	width: 199px;
	height: 273px;
	border-radius: 25px;
	/* background: rgba(0, 0, 0, 0.5); */
	cursor: pointer;
	text-align: center;
	overflow: hidden;
	transition: 0.5s ease;
}

.retg .tab:hover {
	transform: translatey(-15px);
	box-shadow: 0 20px 30px rgba(0, 0, 0, 0.5);
}

.retg .tab:hover .number h2 {
	color: #fff;
	font-size: 50px;
}

.retg .tab:hover .number h2 span {
	color: #fff;
}

.retg .tab:hover h3 {
	color: #fff;
}

.retg .tab:before {
	content: "";
	position: absolute;
	top: 0;
	left: -50%;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.03);
	pointer-events: none;
}

.retg .percent {
	position: relative;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	box-shadow: inset 0 0 50px #000;
	background-color: #222;
	z-index: 1;
}

.retg .percent .number {
	position: absolute;
	top: 69px;
	left: -3px;
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.retg .percent .number h2 {
	color: #777;
	font-size: 44px;
	transition: 0.5s ease;
}

.retg .percent .number h2 span {
	color: #777;
	padding-left: 3px;
	font-size: 24px;
	transition: 0.5s ease;
}

.retg .percent h3 {
	margin-top: 16px;
	color: #777;
	font-size: 17px;
	transition: 0.5s ease;
	width: 161px;
}

svg {
	position: relative;
	width: 150px;
	height: 150px;
	transform: rotate(-85deg);
}

svg circle {
	width: 100%;
	height: 100%;
	fill: none;
	stroke: #191919;
	stroke-width: 10;
	stroke-linecap: round;
	transform: translate(5px, 5px);
}

svg circle:nth-child(2) {
	stroke-dasharray: 440;
	stroke-dashoffset: 440;
}

.tab:nth-child(1) svg circle:nth-child(2) {
	stroke-dashoffset: calc(480 - (440 * 90) / 100);
	stroke: rgb(248, 40, 190);
}

.tab:nth-child(2) svg circle:nth-child(2) {
	stroke-dashoffset: calc(440 - (550 * 60) / 100);
	stroke: rgb(245, 47, 110);
}

.tab:nth-child(3) svg circle:nth-child(2) {
	stroke-dashoffset: calc(270 - (440 * 40) / 100);
	stroke: rgb(90, 135, 252);
}

.tab:nth-child(4) svg circle:nth-child(2) {
	stroke-dashoffset: calc(440 - (440 * 100) / 100);
	stroke: rgb(3, 206, 164);
}

/* our */
.our_title {
	align-items: center;
	/* width: 365px; */
	height: -96px;
	/* margin-left: 829px; */
	margin-right: 88px;
	margin-top: 194px;
	font-size: 46px;
	font-weight: 900;
	/* line-height: 130%; */
	letter-spacing: 0%;
	text-align: center;
	justify-content: center;
}



.corobka {
	position: static;
	width: 246px;
	height: 46px;
	flex: none;
	order: 0;
	flex-grow: 0;
	margin: 173px 4px 35px 13px;
	box-sizing: border-box;
	border: 1px solid rgb(119, 114, 241);
	border-radius: 4px;
	color: rgb(119, 114, 241);
	font-size: 16px;
	font-weight: 700;
	line-height: 160%;
	letter-spacing: 0%;
	text-align: center;
}

.our-box_text {
	width: 390px;
	height: 416px;
	margin-left: 14px;
	margin-right: 580px;
	margin-top: 5px;
	/* margin-bottom: -2112px;
  background: rgb(30, 33, 44); */
}

.our_txt {
	width: 390px;
	height: 84px;
	left: 345px;
	right: -345px;
	top: 2415px;
	bottom: -2083px;
	font-size: 30px;
	font-weight: 700;
	line-height: 150%;
	letter-spacing: 0%;
	text-align: left;
}

.our_list {
	position: relative;
	width: 390px;
	height: 216px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 0px;
}

/* .galochka {
  background: url(../img/svg/galochka.svg) no-repeat;
  top: 52px;
  left: 2px;
} */

.our_span {
	/* position: static; */

	width: 451px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding: -40px;
	flex: none;
	order: 1;
	flex-grow: 0;
	margin: -23px 26px;
	/* color: rgb(66, 69, 81); */
	/* font-family: Lato; */
	font-size: 18px;
	font-weight: 400;
	line-height: 160%;
	letter-spacing: 0%;
	text-align: center;
}

.our_img {
	margin-top: 34px;
	margin-left: 4px;
}


.tablica {
	max-width: 1000px;
	margin: 0px auto;
	padding: 50px 0;
}

.tabs {
	margin: 0 0 50px 0;
}

.tabs__items {
	display: flex;
	margin: 71px -230px 112px -278px;
	/* margin-left: -277px; */
}

.tabs_item {
	flex: 0 1 33.333%;
	height: 50px;
	display: flex;
	justify-content: center;
	align-content: center;
	text-decoration: none;
	z-index: 2;
	position: relative
}

.our_box {
	display: flex;
	margin: -68px 47px 1px -215px;
}

.tabs_block {
	position: relative;
	padding: 20px;
	font-size: 18px;
	line-height: 24px;
	display: none;
}

.tabs_block:target {
	display: block;
}

.tabs_block:nth-child(2) {
	border: 1px solid rgb(119, 114, 241);
}

.tabs_block:nth-child(3) {
	border: 1px solid rgb(119, 114, 241);

}

.tabs_block:nth-child(4) {
	border: 1px solid rgb(119, 114, 241);

}

.tabs_block:nth-child(5) {
	border: 1px solid rgb(119, 114, 241);

}

.tabs_block:nth-child(2):before {
	border: 1px solid rgb(119, 114, 241);
	width: 191px;
	/* left: 305px; */
	top: -170px;
	left: 85px;
}

.tabs_block:nth-child(3)::before {
	border: 1px solid rgb(119, 114, 241);
	width: 269px;
	left: 345px;
	top: -170px;
}

.tabs_block:nth-child(4):before {
	border: 1px solid rgb(119, 114, 241);
	left: 656px;
	width: 234px;
	top: -168px;
}

.tabs_block:nth-child(5):before {
	border: 1px solid rgb(119, 114, 241);
	left: 974px;
	width: 212px;
	top: -169px;
}

.tabs_block:nth-child(1):before {
	border: 1px solid rgb(119, 114, 241);
	width: 105px;
	left: -180px;
	top: -169px;
}

.tabs_block::before {
	content: '';
	height: 33px;
	width: 33.333%;
	position: absolute;
	top: -57px;
}

.our_btn {
	position: relative;
	width: 503px;
	height: 255px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	margin-left: -20px;
}

.tab_btn1 {
	cursor: pointer;
	position: static;
	width: 202px;
	height: 44px;
	display: flex;
	margin: 0px 21px;
	box-sizing: border-box;
	border: 1px solid rgb(119, 114, 241);
	padding: 14px 32px 0px 32px;
	color: rgb(119, 114, 241);
	font-weight: 700;
	transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
	box-shadow: 0 2px 25px rgb(119, 114, 241);
}

.tab_btn1:focus {
	outline: 0;
}

.tab_btn1:before,
.tab_btn1:after {
	position: absolute;
	content: "";
	display: block;
	width: 140%;
	height: 100%;
	left: -20%;
	z-index: -1000;
	transition: all ease-in-out 0.5s;
	background-repeat: no-repeat;
}

.tab_btn1:before {
	display: none;
	top: -75%;
	background-image: radial-gradient(circle, #7772f1 20%, transparent 20%), radial-gradient(circle, transparent 20%, #7772f1 20%, transparent 30%), radial-gradient(circle, #7772f1 20%, transparent 20%), radial-gradient(circle, #7772f1 20%, transparent 20%), radial-gradient(circle, transparent 10%, #7772f1 15%, transparent 20%), radial-gradient(circle, #7772f1 20%, transparent 20%), radial-gradient(circle, #7772f1 20%, transparent 20%), radial-gradient(circle, #7772f1 20%, transparent 20%), radial-gradient(circle, #7772f1 20%, transparent 20%);
	background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}

.tab_btn1:after {
	display: none;
	bottom: -75%;
	background-image: radial-gradient(circle, #7772f1 20%, transparent 20%), radial-gradient(circle, #7772f1 20%, transparent 20%), radial-gradient(circle, transparent 10%, #7772f1 15%, transparent 20%), radial-gradient(circle, #7772f1 20%, transparent 20%), radial-gradient(circle, #7772f1 20%, transparent 20%), radial-gradient(circle, #7772f1 20%, transparent 20%), radial-gradient(circle, #7772f1 20%, transparent 20%);
	background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}


.tab_btn1:active {
	transform: scale(0.9);
	background-color: #7772f1;
	box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
	color: #fff;
}

.tab_btn1.animate:before {
	display: block;
	animation: topBubbles ease-in-out 0.75s forwards;
}

.tab_btn1.animate:after {
	display: block;
	animation: bottomBubbles ease-in-out 0.75s forwards;
}


@keyframes topBubbles {
	0% {
		background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
	}

	50% {
		background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
	}

	100% {
		background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
		background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
	}
}

@keyframes bottomBubbles {
	0% {
		background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
	}

	50% {
		background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
	}

	100% {
		background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
		background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
	}
}

.tab_btn2 {
	cursor: pointer;
	position: static;
	width: 226px;
	height: 44px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 14px 32px 0px 32px;
	margin: 0px 24px;
	border-radius: 4px;
	background: rgb(119, 114, 241);
	color: #fff;
	transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
	box-shadow: 0 2px 25px rgb(119, 114, 241);
}

.img_dashboard {
	margin: -30px -43px 0px -322px;
}

.YouTube {
	position: absolute;
	width: 175.48px;
	height: 43.43px;
	margin-left: 1202px;
	margin-right: -295.19;
	margin-top: 365px;
	margin-bottom: -879.58%;
	border-radius: 10px;
	transition: 0.5s;
	cursor: pointer;
}

.tab_btn2:focus {
	outline: 0;
}

.tab_btn2:before,
.tab_btn2:after {
	position: absolute;
	content: "";
	display: block;
	width: 140%;
	height: 100%;
	left: -20%;
	z-index: -1000;
	transition: all ease-in-out 0.5s;
	background-repeat: no-repeat;
}

.tab_btn2:before {
	display: none;
	top: -75%;
	background-image: radial-gradient(circle, #7772f1 20%, transparent 20%), radial-gradient(circle, transparent 20%, #7772f1 20%, transparent 30%), radial-gradient(circle, #7772f1 20%, transparent 20%), radial-gradient(circle, #7772f1 20%, transparent 20%), radial-gradient(circle, transparent 10%, #7772f1 15%, transparent 20%), radial-gradient(circle, #7772f1 20%, transparent 20%), radial-gradient(circle, #7772f1 20%, transparent 20%), radial-gradient(circle, #7772f1 20%, transparent 20%), radial-gradient(circle, #7772f1 20%, transparent 20%);
	background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}

.tab_btn2:after {
	display: none;
	bottom: -75%;
	background-image: radial-gradient(circle, #7772f1 20%, transparent 20%), radial-gradient(circle, #7772f1 20%, transparent 20%), radial-gradient(circle, transparent 10%, #7772f1 15%, transparent 20%), radial-gradient(circle, #7772f1 20%, transparent 20%), radial-gradient(circle, #7772f1 20%, transparent 20%), radial-gradient(circle, #7772f1 20%, transparent 20%), radial-gradient(circle, #7772f1 20%, transparent 20%);
	background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}


.tab_btn2:active {
	transform: scale(0.9);
	background-color: #fff;
	box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
	color: #7772f1;
}

.tab_btn2.animate:before {
	display: block;
	animation: topBubbles ease-in-out 0.75s forwards;
}

.tab_btn2.animate:after {
	display: block;
	animation: bottomBubbles ease-in-out 0.75s forwards;
}


@keyframes topBubbles {
	0% {
		background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
	}

	50% {
		background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
	}

	100% {
		background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
		background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
	}
}

@keyframes bottomBubbles {
	0% {
		background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
	}

	50% {
		background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
	}

	100% {
		background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
		background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
	}
}


.YouTube:hover {
	transform: scale(1.1);
}

.naver:hover {
	color: #c4c4c4;
}

.container {
	max-width: 1440px;
	min-width: 320px;
	margin: 0 auto;
	padding: 0 15px;
	clear: both;
}

body {
	font-size: 14px;
	line-height: 19px;
	color: #242424;
	width: 100%;
	font-family: 'Manrope', arial, sans-serif;
}